@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    font-family: "Roboto", serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 1em;
    border-bottom: 2px solid #c6c7c993;
}

.navbtn{
    margin-left: auto;
}

button{
    padding: 1em 5em;
    color: #658cc2;
    font-weight: 800;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 1em;
    margin-right: 1em;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:focus, button:hover{
    border: 1px solid #054bb4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.main{
    display: flex;
    align-items: center;
}

.main-body{
    padding: 1em;
}

h1{
    color: #333436;
    font-size: 50px;
    font-weight: 800;
    padding: .5em 0;
}

p{
    font-weight: 500;
    padding: 1em 0;
}

.btn{
    background-color: #054bb4;
    color: white;
}

.img2{
    max-width: 100%;
    max-height: 800px;
    height: auto;
    display: block;
    border-bottom: 1px solid white;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}


@media (max-width: 550px) {
   button{
    padding: 1em 2em;
   }

   .main{
    background-image: url(./images/jeswin-thomas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   }

   .main-body{
    text-align: center;
   }

   .img2{
    display: none;
   }
}

@media (max-width: 400px) {
   .navbar{
    margin-left: 0;
    gap: 2em;
    justify-content: space-between;
   }

   button{
    margin-bottom: 1em;
   }
}