@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  min-height: 100vh;
  background-color: #2b2d2e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container {
  width: 80%;
  max-width: 1200px;
}

.container .wrapper {
  background-color: #071021;
  padding: 2rem 4rem 3rem 4rem;
}

.wrapper .header {
  background-color: #0b1932;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 3rem;
  padding: 1em 0;
  margin: 0 0 4rem 0;
}

.wrapper .header h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
}

.btn button {
  width: 150px;
  font-size: 1rem;
  background-color: #423fe5;
  border: 1px solid #423fe5;
  border-radius: 8px;
  padding: 8px;
  color: white;
  font-weight: 900;
  cursor: pointer;
}

.btn button:hover {
  background-color: white;
  color: #423fe5;
}

.main-body {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.article_wrapper, .img_card{
  max-width: 50%;
}

.article_wrapper{
  display: flex;
  align-items: center;
}

.article h1 {
  font-size: clamp(1rem, 3vw, 3rem);
}

.hero{
  margin-bottom: 3rem;
}

.hero_title {
  padding-bottom: 2rem;
}

.article p {
  font-size: clamp(8px, 1.5vw, 1.125rem);
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 2.5rem;
}

.article span {
  color: #423fe5;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_card{
  display: grid;
  grid-template-columns: calc(66% - 5px) calc(34% - 5px);
  grid-template-rows:    calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px;
  aspect-ratio: 16 / 9;
}

.img_card_one{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.img_card_two{
  grid-column: 2 / 2;
  grid-row: 1 / 2;
}

.img_card_three{
  grid-column: 2 / 2;
  grid-row: 2 / 3;
}