@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  min-height: 100vh;
  background-color: #0057b371;
  background-image: url('/images/robot-with-tablet-.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.container {
  width: 80%;
  max-width: 1200px;
}

.container .wrapper {
  background-color: rgba(255, 255, 255, .9);
  border-radius: 8px;
  padding: 2rem 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3rem;
}


.button{
  display: flex;
  gap: 2rem;
}

.wrapper .header h3 {
  color: #269dfe;
  font-size: 1.5rem;
  font-weight: 900;
}

.btn button {
  width: 150px;
  font-size: 1rem;
  background-color: #269dfe;
  border: 1px solid #269dfe;
  border-radius: 8px;
  padding: 8px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 900;
  cursor: pointer;
}

.btn button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #269dfe;
}

.main-body {
  display: flex;
  margin-top: 2.5rem;
}

.article_wrapper, .img_card{
  max-width: 50%;
}

.article_wrapper{
  display: flex;
  align-items: center;
}

.article h1 {
  font-size: clamp(1rem, 3vw, 3rem);
}

.hero{
  margin-bottom: 3rem;
}

.hero_title {
  padding-bottom: 2rem;
}

.article p {
  font-size: clamp(8px, 1.5vw, 1.125rem);
  color: rgba(0, 0, 0, 0.664);
  padding-bottom: 1.5rem;
  font-weight: 500;
}

.article span {
  color: #269dfe;
}

img{
  object-fit: contain;
  max-width: 100%;
}


.img_card{
  background-image: url('/images/whiteboard-.png');
  background-color: rgba(255, 255, 255, .15);
  background-blend-mode: soft-light;
}