@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  min-height: 100vh;
  background-color: #0057b371;
  background-image: url("/images/robot-with-tablet-.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.register-container {
  width: 80%;
  max-width: 1200px;
}

.register-wrapper {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  gap: 20px;
}

.header {
  background-image: url(/images/3d-render-.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.header h2 {
  color: #269dfe;
  font-size: 1.5rem;
  font-weight: 900;
}

.main {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

legend {
  font-size: 2rem;
  font-weight: 500;
}

form p {
  margin: 1.5rem 0;
}

fieldset {
  border: none;
}

.contact {
  display: flex;
  gap: 10px;
}

input {
  width: 100%;
  padding: 14px;
  margin-bottom: 1rem;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.582);
  font-weight: 600;
  font-size: 1rem;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.582);
  font-weight: 600;
  font-size: 1rem;
}

input:hover {
  border: 2px solid #269dfe;
}

.sign p {
  text-align: center;
}

button {
  width: 100%;
  font-size: 1rem;
  background-color: #269dfe;
  border: 1px solid #269dfe;
  border-radius: 8px;
  padding: 12px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 900;
  cursor: pointer;
  margin: 0.5rem 0 2rem 0;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #269dfe;
}

.line {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.seperator {
  flex-grow: 1;
  height: 2.5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.445);
}

.line p {
  white-space: nowrap;
  padding: 0 10px;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 2px solid black;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.signup:hover {
  border: 2px solid #269dfe;
}

i {
  color: rgb(16, 16, 143);
}

.signup a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 900;
}
